{% comment %}
  Parameters:
  - collection_handle: product collection handle to iterate over
  - class_name: "product-list product-list-{{ section.id }}"
  - is_ordered: indicates if the product listing is ordered in some way
  - title: display title for product list
  - section_id: section id
  - id: CSS id
{% endcomment %}

{% if collections[collection_handle] != empty %}
  <section {% if id != blank %} id={{ id }} {% endif %}
    class="collection
      {% if class_name != blank %}
        {{ class_name }}
      {% if section_id != blank %}
        {{ class_name }}-{{ section_id }}
      {% endif %}
    {% endif %}">

    {% if title != blank %}
      <h2>{{ title }}</h2>
    {% endif %}

    {% if is_ordered == true %}
      {% assign list_tag_name = "ol" %}
    {% else %}
      {% assign list_tag_name = "ul" %}
    {% endif %}

    <{{ list_tag_name }} class="product-list">
      {% for product in collections[collection_handle].products %}
        <li>
          <a class="product" href="{{ product.url }}">
            <figure>
              <div>
                <img class="product-photo" src="{{ product.featured_image | img_url: '288x288' }}" alt="{{ product.title | strip_html }}" />
                <span class="product-price">{{ product.price | money_without_trailing_zeros }}</span>
              </div>
              <figcaption>
                <p class="product-title">{{ product.title }}</p>
                <p class="short-description">{{ product.metafields.global.short_description }}</p>
              </figcaption>
            </figure>
          </a>
        </li>
      {% endfor %}
    </{{ list_tag_name }}>
  </section>
{% endif %}