<!DOCTYPE html>
<html lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8" />
    <title>
      {% if template.name == "index" %}
        {{ 'general.store_name' | t }} &#183; {{ page_title }}
      {% else %}
        {{ page_title }} &#183; {{ 'general.store_name' | t }}
      {% endif %}
    </title>
    <meta name="description" content="{{ page_description | escape }}" />
    <link rel="canonical" href="{{ canonical_url }}" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="data:image/svg+xml,{{ settings.favicon_svg | url_escape }}" rel="icon" type="image/svg+xml">
    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'global.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'main.js' | asset_url }}" defer></script>
  </head>
  {% if template.name != blank %}
    {% assign body_class = template.name %}
  {% else %}
    {% assign body_class = request.path | handleize %}
  {% endif %}

  <body class="{{ body_class }}">
    <div class="content">
      {% section 'header' %}
      <main>
        {{ content_for_layout }}
      </main>
      {% section 'footer' %}
    </div>
    {{ 'global.deferred.css' | asset_url | stylesheet_tag }}
  </body>
</html>
