<style>
  .page-header {
    align-items: baseline;
    display: flex;
    flex: 0 0;
    justify-content: space-between;
    margin-top: 4rem;
  }

  .page-header .logo {
    max-width: 362px;
    width: 100%;
  }

  .top-level ul {
    display: flex;
    font-family: {{ settings.display_font }};
    font-weight: 900;
    list-style: none;
  }

  .top-level a:link,
  .top-level a:visited {
    text-decoration: none;
  }

  .top-level a {
    padding: 1rem;
  }

  .top-level a:hover span {
    text-decoration: underline;
  }
</style>

<header class="page-header">
  {% if settings.site_logo != blank %}
    {% if request.page_type == 'index' %}
      {{ settings.site_logo }}
    {% else %}
      <a href="/" class="logo">{{ settings.site_logo }}</a>
    {% endif %}
  {% endif %}

  {% if settings.pause_sales != true %}
    {% if linklists.main-menu.links != blank or request.page_type != 'cart' %}
      <nav class="top-level">
        <ul>
          {% for link in linklists.main-menu.links %}
            {% assign child_list_handle = link.title | handleize %}
            <li>
              {% if linklists[child_list_handle].links != blank %}
                <a href="{{ link.url }}"><span>{{ link.title | t }}</span></a>
                {% comment %} TODO: Support submenus {% endcomment %}
                [{% for childlink in linklists[child_list_handle].links %}
                  <a href="{{ childlink.url }}">{{ childlink.title | t }}</a>
                {% endfor %}]
              {% else %}
                <a href="{{ link.url }}"><span>{{ link.title | t }}</span></a>
              {% endif %}
            </li>
          {% endfor %}

          {% if request.page_type != 'cart' %}
            <li><a href="/cart"><span>{{ 'general.navigation.cart' | t }}</span></a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  {% endif %}

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">{{ 'general.navigation.account' | t }}</a>
      {{ 'log out' | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %}
</header>

{% schema %}
  {
    "name": "Header",
    "presets": [{
        "name": "Header",
        "category": "Page Layout"
    }]
  }
{% endschema %}