<style>
  .page-header {
    --anchor-padding: 1.3rem;
    align-items: baseline;
    display: flex;
    flex: 0 0;
    height: var(--header-top);
    justify-content: space-between;
    margin-top: var(--header-margin-top);
  }

  .page-header .logo {
    max-width: 362px;
    width: 100%;
  }

  .top-level ul {
    font-family: {{ settings.display_font }}, sans-serif;
    font-weight: 700;
    list-style: none;
    margin-right: calc(var(--anchor-padding) * -1);
  }

  .top-level li {
    display: inline-block;
    position: sticky;
  }

  .top-level a:link,
  .top-level a:visited {
    text-decoration: none;
  }

  .top-level a {
    padding: var(--anchor-padding);
  }

  .top-level a:hover span {
    text-decoration: underline;
  }

  .top-level .cart-link {
    position: fixed;
  }

  .top-level .cart-link a {
    --icon-width: 33;   /* Pixels */
    --icon-height: 29;  /* Pixels */
    --icon-aspect-ratio: calc(var(--icon-width) / var(--icon-height));
    --mask-size: auto 100%;
    --mask-position: var(--anchor-padding) 0;
    --mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='29' fill='none'%3E%3Cpath fill='%232B749E' d='M31.27 20.42H10l1.07-2.18 17.74-.03c.6 0 1.11-.43 1.22-1.02L32.5 3.44a1.24 1.24 0 00-1.22-1.46L8.7 1.91 8.51 1C8.4.42 7.87 0 7.28 0H1.76a1.26 1.26 0 100 2.52h4.5l.84 4 2.07 10.05-2.67 4.36a1.25 1.25 0 00-.1 1.31c.2.43.64.7 1.12.7h2.24a3.66 3.66 0 105.86 0h5.75a3.66 3.66 0 105.85 0h4.05c.7 0 1.26-.57 1.26-1.26a1.26 1.26 0 00-1.26-1.26zM9.23 4.39l20.56.07-2.02 11.27-16.14.03L9.23 4.4zm3.46 21.88a1.13 1.13 0 010-2.26 1.13 1.13 0 010 2.26zm11.6 0a1.13 1.13 0 010-2.26 1.13 1.13 0 010 2.26z'/%3E%3C/svg%3E");
    --mask-repeat: no-repeat;
    display: block;
    background-color: {{ settings.anchor_color }};
    -webkit-mask-size: var(--mask-size);
    -webkit-mask-position: var(--mask-position);
    -webkit-mask-image: var(--mask-image);
    -webkit-mask-repeat: var(--mask-repeat);
    mask-size: var(--mask-size);
    mask-position: var(--mask-position);
    mask-image: var(--mask-image);
    mask-repeat: var(--mask-repeat);
    padding: calc(var(--icon-height) * 1px) 0 0 var(--anchor-padding);
    width: calc((var(--icon-width) * 1px) + var(--anchor-padding));
    transition: background-color 100ms;
  }

  .top-level .cart-link a:hover {
    background-color: {{ settings.anchor_hover_color }};
  }
</style>

<header class="page-header">
  {% if settings.site_logo != blank %}
    {% if request.page_type == 'index' %}
      {{ settings.site_logo }}
    {% else %}
      <a href="/" class="logo">{{ settings.site_logo }}</a>
    {% endif %}
  {% endif %}

  {% if settings.pause_sales != true %}
    {% if linklists.main-menu.links != blank and request.page_type != 'cart' %}
      <nav class="top-level">
        <ul>
          {% for link in linklists.main-menu.links %}
            {% assign child_list_handle = link.title | handleize %}
            <li>
              {% if linklists[child_list_handle].links != blank %}
                <a href="{{ link.url }}"><span>{{ link.title | t }}</span></a>
                {% comment %} TODO: Support submenus {% endcomment %}
                [{% for childlink in linklists[child_list_handle].links %}
                  <a href="{{ childlink.url }}">{{ childlink.title | t }}</a>
                {% endfor %}]
              {% else %}
                <a href="{{ link.url }}"><span>{{ link.title | t }}</span></a>
              {% endif %}
            </li>
          {% endfor %}

          {% if request.page_type != 'cart' %}
            <li class="cart-link"><a href="/cart"><span class="visually-hidden">{{ 'general.navigation.cart' | t }}</span></a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  {% endif %}

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">{{ 'general.navigation.account' | t }}</a>
      {{ 'log out' | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %}
</header>

{% schema %}
  {
    "name": "Header",
    "presets": [{
        "name": "Header",
        "category": "Page Layout"
    }]
  }
{% endschema %}