<style>
  .page-header .logo {
    max-width: 265px;
    width: 100%;
  }
</style>

<header class="page-header">
  {% if settings.site_logo != blank %}
    {% if request.page_type == 'index' %}
      {{ settings.site_logo }}
    {% else %}
      <a href="/" class="logo">{{ settings.site_logo }}</a>
    {% endif %}
  {% endif %}
  {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <a href="{{ link.url }}">{{ link.title | t }}</a>
      [{% for childlink in linklists[child_list_handle].links %}
        <a href="{{ childlink.url }}">{{ childlink.title | t }}</a>
      {% endfor %}]
    {% else %}
      <a href="{{ link.url }}">{{ link.title | t }}</a>
    {% endif %}
  {% endfor %}

  {% if settings.pause_sales != true %}
    {% if request.page_type != 'cart' %}
      <a href="/cart">{{ 'general.navigation.cart' | t }}</a>
    {% endif %}
  {% endif %}

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">{{ 'general.navigation.account' | t }}</a>
      {{ 'log out' | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %}
</header>

{% schema %}
  {
    "name": "Header",
    "presets": [{
        "name": "Header",
        "category": "Page Layout"
    }]
  }
{% endschema %}