{% if section.settings.active %}
<header class="page-header">
  {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <a href="{{ link.url }}">{{ link.title | t }}</a>
      [{% for childlink in linklists[child_list_handle].links %}
        <a href="{{ childlink.url }}">{{ childlink.title | t }}</a>
      {% endfor %}]
    {% else %}
      <a href="{{ link.url }}">{{ link.title | t }}</a>
    {% endif %}
  {% endfor %}

  <a href="/cart">{{ 'general.navigation.cart' | t }}</a>

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">{{ 'general.navigation.account' | t }}</a>
      {{ 'log out' | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %}
</header>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "checkbox",
        "id": "active",
        "label": "Active",
        "default": true
      }
    ],
    "presets": [{
        "name": "Header",
        "category": "Page Layout"
    }]
  }
{% endschema %}