<style>
  .hero h1 {
    font-size: 3.4375rem;
    color: var(--positive-accent-color);
  }

  .hero-{{ section.id }} {
    font-size: {{ section.settings.font_size }};
    line-height: 1.5;
    transition: font-size 200ms;
  }

  @media (max-width: 46rem) {
    .hero-{{ section.id }} {
      font-size: 1.3rem;
    }
  }

  .hero-{{ section.id }} p {
    margin: {{ section.settings.margin }};
    letter-spacing: -0.02rem;
    font-family: {% case section.settings.font %}
      {% when 'display' %}
        {{ settings.display_font }},
      {% when 'copy' %}
        {{ settings.copy_font }},
      {% endcase %} sans-serif;
  }

  .hero .hook {
    align-items: flex-start;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
  }

  .hero .hook p {
    flex: 1 0;
  }

  .hero .call-to-action {
    {% if section.settings.call_to_action_background_color != blank %}
      background-color: {{ section.settings.call_to_action_background_color }};
    {% endif %}
    {% if section.settings.call_to_action_color != blank %}
      color: {{ section.settings.call_to_action_color }};
    {% endif %}
    white-space: nowrap;
    margin-left: 5rem;
  }

  .hero svg {
    max-width: 60%;
  }
</style>

<section class="hero hero-{{ section.id }}">
  {% if settings.site_logo != blank and section.settings.show_site_logo == true %}
    {{ settings.site_logo }}
  {% endif %}

  {% if section.settings.tagline != blank %}
    <h1>{{ section.settings.tagline | t }}</h1>
  {% endif %}

  {% if section.settings.hook != blank %}
    <div class="hook">
      {{ section.settings.hook }}
      {% include 'call_to_action' %}
    </div>
  {% endif %}
</section>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_site_logo",
        "label": "Show Site Logo",
        "default": true
      },
      {
        "type": "text",
        "id": "tagline",
        "label": "Tagline"
      },
      {
        "type": "richtext",
        "id": "hook",
        "label": "Hook"
      },
      {
        "type": "text",
        "id": "font_size",
        "label": "Font Size",
        "default": "1.8rem"
      },
      {
        "type": "text",
        "id": "margin",
        "label": "Margin",
        "default": "0"
      },
      {
        "type": "text",
        "id": "call_to_action",
        "label": "Call to Action"
      },
      {
        "type": "url",
        "id": "call_to_action_url",
        "label": "Call to Action URL"
      },
      {
        "type": "select",
        "id": "font",
        "label": "Font",
        "options": [
          { "value": "display", "label": "Display" },
          { "value": "copy", "label": "Copy" }
        ],
        "default": "display"
      }
    ],
    "presets": [{
        "name": "Hero",
        "category": "Page Layout"
    }]
  }
{% endschema %}