{% if settings.pause_sales == true %}
  <h1>{{ 'general.unavailable.heading' | t }}</h1>
  <p>{{ 'general.unavailable.message' | t }}</p>
{% else %}
  <style>
    .cart-items {
      table-layout: fixed;
      width: 100%;
      border-bottom: 3px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 1rem;
      border-collapse: separate;
      border-spacing: 0 1rem;
    }

    .cart-items td:first-child {
      border-radius: 8px 0 0 8px;
      padding: 1rem;
    }

    .cart-items tbody td:last-child {
      border-radius: 0 8px 8px 0;
      padding-right: 1.5rem;
      text-align: right;
      padding: 1rem;
    }

    .cart-items td {
      vertical-align: middle;
      padding: 1rem 0;
    }

    .cart-items a {
      text-decoration: none;
    }

    tbody .cart-item td {
      background-color: #fff;
    }

    .cart-items th {
      text-align: left;
    }

    .cart-items .product-image,
    .cart-item .product-image a {
      width: 6rem;
    }

    .cart-items .product-image a img {
      display: block;
    }

    .cart-items .product-photo {
      width: 100%;
    }

    .cart-items .product {
      padding-left: 1rem;
      width: 40%;
    }

    .cart-item .product p {
      font-weight: 600;
      margin: 0;
    }

    .money {
      text-align: right;
    }

    .total {
      font-weight: 700;
    }

    tfoot th {
      font-weight: 400;
    }


  </style>

  <h1>{{ 'general.cart.title' | t }}</h1>
  {% if cart.item_count > 0 %}
    <form action="/cart" method="post" novalidate>
      <table class="cart-items" cell-spacing="0">
        <tbody>
          {% for item in cart.items %}
            <tr class="cart-item">
              <td class="product-image">
                <a href="{{ item.url | within: collections.all }}">
                  <img class="product-photo" src="{{ item | img_url: '200x200' }}" alt="{{ item.title | escape }}">
                </a>
              </td>
              <td class="product">
                <p><a href="{{ item.url }}">{{ item.product.title }}</a></p>
                {{ item.variant.title }}
              </td>
              <td class="money price">
                {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                {{ item.line_price | money }}
                {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
              </td>
              <td><a class="secondary negative button" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">{{ 'general.cart.remove' | t }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="2">{{ 'general.cart.total_price_inc_shipping_and_tax_html' | t }}:</th>
            <td class="money total">{{ cart.total_price | money }}</td>
          </tr>
        </tfoot>
      </table>
      <div>
        <button type="submit" name="checkout">Checkout</button>
      </div>
    </form>
  {% else %}
    <p>{{ 'general.cart.empty_cart_html' | t }}</p>
  {% endif %}
{% endif %}