{% if settings.pause_sales == true %}
  <h1>{{ 'general.unavailable.heading' | t }}</h1>
  <p>{{ 'general.unavailable.message' | t }}</p>
{% else %}
  <style>
    .cart-items {
      --table-padding: 1.5rem;
      table-layout: fixed;
      width: 100%;
      border-bottom: 3px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 1rem;
      border-collapse: separate;
      border-spacing: 0;
      background-color: #fff;
      border-radius: 8px;
      padding: var(--table-padding);
    }

    .cart-items tbody tr:first-child td {
      padding-top: 0;
    }

    .cart-items tbody td:last-child {
      text-align: right;
      width: 9rem;
    }

    .cart-items th,
    .cart-items td {
      vertical-align: middle;
      padding-top: var(--table-padding);
      padding-bottom: var(--table-padding);
    }

    .cart-items tfoot th,
    .cart-items tfoot td {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
    }

    .cart-items td:not(:last-child) {
      padding-right: var(--table-padding);
    }

    .cart-items a {
      text-decoration: none;
    }

    .cart-items tbody .cart-item td {
      background-color: #fff;
    }

    .cart-items th {
      text-align: left;
    }

    .cart-items .product-image,
    .cart-item .product-image a {
      width: 6rem;
    }

    .cart-items .product-image a img {
      display: block;
    }

    .cart-items .product-photo {
      width: 100%;
      height: auto;
    }

    .cart-items .product {
      width: 15rem;
    }

    .cart-item .product p {
      font-weight: 600;
      margin: 0;
    }

    .cart-items td.quantity {
      padding-right: 0;
      text-align: right;
    }

    .cart-items td.quantity :not(.visually-hidden):after {
      content: "\00D7\00A0";
    }

    .cart-items + .action-bar {
      text-align: right;
    }

    tbody tr + tr td {
      border-top: 2px solid rgba(0, 0, 0, 0.1);
    }

    tfoot {
      background-color: #def3ff;
    }

    tfoot th {
      font-weight: 400;
    }

    .total {
      font-weight: 700;
    }

    .money {
      text-align: right;
    }
  </style>

  <h1>{{ 'general.cart.title' | t }}</h1>
  {% if cart.item_count > 0 %}
    <form action="/cart" method="post" novalidate>
      <table class="cart-items" cell-spacing="0">
        <tbody>
          {% for item in cart.items %}
            <tr class="cart-item">
              <td class="product-image">
                <a href="{{ item.url | within: collections.all }}">
                  <img class="product-photo" src="{{ item | image_url: width: 200, height 200 }}" alt="{{ item.title | escape }}" width="200" height="200" loading="lazy">
                </a>
              </td>
              <td class="product">
                <p><a href="{{ item.url }}">{{ item.product.title }}</a></p>
                {{ item.variant.title }}
              </td>
              <td class="quantity">
                <span class="{% if item.quantity == 1 %}visually-hidden{% endif %}">
                  {{ item.quantity }}
                </span>
              </td>
              <td class="per-item price">
                <span class="{% if item.quantity == 1 %}visually-hidden{% endif %}">
                  {{ item.price | money }}
                </span>
              </td>
              <td class="money price">
                {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                {{ item.line_price | money }}
                {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
              </td>
              <td><a class="secondary negative button" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">{{ 'general.cart.remove' | t }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th colspan="3">{{ 'general.cart.total_price_inc_shipping_and_tax_html' | t }}:</th>
            <td class="money total">{{ cart.total_price | money }}</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
      <div class="action-bar">
        <button class="positive" type="submit" name="checkout">Checkout</button>
      </div>
    </form>
  {% else %}
    <p>{{ 'general.cart.empty_cart_html' | t }}</p>
  {% endif %}
{% endif %}