{% if settings.pause_sales == true %}
  <h1>{{ 'general.unavailable.heading' | t }}</h1>
  <p>{{ 'general.unavailable.message' | t }}</p>
{% else %}
  <style>
    .product-description {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content 1fr;
      grid-template-areas: "photos heading"
                           "photos details";
      grid-gap: 1rem 3rem;
      color: var(--default-copy-color);
    }

    .product-header {
      grid-area: heading;
      padding-bottom: 1rem;
      border-bottom: 3px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 0.5rem;
    }

    .add-to-cart {
      padding-bottom: 1rem;
      border-bottom: 3px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 0.5rem;
    }

    .product-header h1 {
      white-space: pre;
      margin-top: 0;
      font-size: 1.93rem;
    }

    .product-description .item-count {
      opacity: 0.5;
    }

    .product-description .product-name {
      font-weight: 600;
    }

    .product-description .product-details {
      grid-area: details;
    }

    .product-description .product-photos {
      grid-area: photos;
    }

    .product-description .product-photos > img {
      width: 100%;
    }

    .product-description .product-items {
      list-style: none;
    }

    .add-to-cart {
      align-items: center;
      display: flex;
      margin: 1rem 0;
      justify-content: space-between;
    }

    .product-price {
      color: var(--positive-accent-color);
      text-align: right;
      font-weight: 600;
      border-radius: 4px;
      padding: 0.3rem 0.5rem;
      position: relative;
    }

    .back-to-listings {
      --shift: -2rem;
      font-size: 1rem;
    }

    .back-to-listings:link,
    .back-to-listings:visited {
      color: var(--default-copy-color);
      font-weight: 600;
      opacity: 0.6;
      text-decoration: none;
      vertical-align: middle;
      line-height: 1.2;
      font-size: 1.0625rem;
      padding: 1rem;
      margin: -1rem 0 0 -1rem;
      display: inline-block;
      transition: opacity 100ms, transform 100ms, padding 100ms;
    }

    .back-to-listings:hover {
      opacity: 1;
      transform: translate(var(--shift), 0);
      padding-right: calc(1rem - var(--shift)); /* Prevent mouse pointer race condition */
    }

    .back-to-listings::before {
      content: url("data:image/svg+xml,%3Csvg width='25' height='21' viewBox='0 0 25 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 10.5L23 10.5M10.1667 18.6667L2 10.5L10.1667 18.6667ZM2 10.5L10.1667 2.33333L2 10.5Z' stroke='%23223B60' stroke-width='2.88889' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      vertical-align: middle;
      margin-right: 0.5rem;
    }

    .product-options {
      margin-bottom: 1rem;
    }

    .product-option {
      --active-color: #2b749e;
      display: inline-block;
      position: relative;
      padding: 0.5rem 1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      font-size: 0.98rem;
      user-select: none;
    }

    .product-option input[type="radio"] {
      border: 3px solid var(--active-color);
      border-radius: 4px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      z-index: 1;
      cursor: pointer;
      transition: background-color 100ms;
    }

    .product-option input[type="radio"]:before {
      content: "";
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      position: absolute;
      background-color: #f00;
      transform: translate(-3px, -3px);
      border-radius: 4px;
      background-color: var(--active-color);
      opacity: 0;
      transition: opacity 100ms;
    }

    .product-option input[type="radio"]:hover:before {
      opacity: 0.5;
    }

    .product-option label {
      color: var(--active-color);
      position: relative;
      z-index: 2;
      cursor: pointer;
    }

    .product-option input[type="radio"]:disabled {
      border-color: rgba(0, 0, 0, 0.4);
    }

    .product-option input[type="radio"]:checked {
      background-color: var(--active-color);
    }

    .product-option input[type="radio"]:hover + label,
    .product-option input[type="radio"]:checked + label {
      color: #fff;
    }

    .auxiliary {
      font-size: 1.0625rem;
      line-height: 1.3;
    }

    .product-thumbnails {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      grid-gap: 0.6rem;
      width: 100%;
    }

    .product-thumbnails > a {
      font-size: 0;
    }

    .thumbnail {
      width: 100%;
    }
  </style>

  <a href="/collections/all" class="back-to-listings">{{ "general.product.back_to_product_listings" | t }}</a>
  <div class="product-listing">
    <section id="product-description" class="product-description">
      <header class="product-header">
        <h1>{{ product.title }}</h1>
      </header>
      <section id="product-photos" class="product-photos">
        {% assign current_variant = product.selected_or_first_available_variant %}
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <img class="product-photo" src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="produc-photo-img">

        <div class="product-thumbnails">
          {% for image in product.images %}
            <a href="{{ image.src | img_url: 'large' }}">
              <img class="product-photo thumbnail" src="{{ image.src | img_url: '200x200' }}" alt="{{ image.alt | escape }}">
            </a>
          {% endfor %}
        </div>
      </section>
      <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="product-details">

        {% if product.description != "" %}
          {{ product.description | strip }}
        {% else %}
          {{ 'general.product.no_description_html' | t }}
        {% endif %}

        {% if product.variants.size > 1 %}
          <div class="product-options">
            <p class="auxiliary">{{ 'general.product.select_size' | t }}:</p>
            {% for variant in product.variants %}
              <div class="product-option">
                <input
                  type="radio"
                  id="{{ variant.id }}"
                  name="id"
                  value="{{ variant.id }}"
                  {% if variant.title == current_variant.title %}checked="checked"{% endif %} />
                <label for="{{ variant.id }}">{{ variant.title }}</label>
              </div>
            {% endfor %}
          </div>
        {% endif %}

        <div class="add-to-cart">
          <button type="submit" name="add" id="AddToCart">Add to cart</button>
          <span class="product-price"> {{ product.price |  money_without_trailing_zeros }}</span>
        </div>
        <p class="auxiliary"><small>{{ 'general.product.price_includes_statement' | t }}</small>
        <small>{{ 'general.product.substitution_warning' | t }}</small></p>
      </form>
    </section>
    <section id="product-reviews"></section>
  </div>
{% endif %}

<script>
  // Check to see if the user navigated to the product page from the
  // Choicebox product page(s) using `document.referrer`.
  (function () {
    // TODO: Dynamically update the 'back to product listing' link depending
    // on where the user came from. If the referrer contains:
    //  * From a Choicebox product listing page -> back to the correct page#
    //  * From another site -> back to the main Choicebox product listing page
    //  * Bookmark/direct -> back to the main Choicebix product listing page
  }());

  // Modify the URL when the user selects product options
  (function () {
    const sizeRadioButtons = document.querySelectorAll(".product-options input[type='radio']");

    sizeRadioButtons.forEach((option) => {
      const variantId = option.value;
      option.addEventListener("click", () => {
        window.history.replaceState(null, null, `?variant=${variantId}`);
      });
    });
  }());
</script>